<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">


      <h2>welcome to<span class="fas fa-book" aria-hidden="true"></span><strong>Bookers  !!</strong></h2>
      <p>In <span class="fas fa-book" aria-hidden="true"></span><strong>Bookers,</strong><br>you can share and exchange your opinions , inpressions , and emotions<br>about various books!</p>

       <%= link_to "Log in",new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
       <%= link_to "Sign up",new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
    </div>
  </div>
</div>
